[submodule "external/googletest"]
	path = external/googletest
    url = https://github.com/google/googletest.git
[submodule "external/gflags"]
    path = external/gflags
    url = https://github.com/gflags/gflags.git
